body {
    background: url(dragon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    }

h1 {
    font-family: FenwickWoodtype;
    color: goldenrod;
    font-size: 5em;
}

h2 {
    font-family: FenwickWoodtype;
    color: lightgray;
    font-size: 4em;
}

.spaceFromTop {
    margin-top: 25%;
}

.titleTop {
    margin-top: 1%;
    text-align: left;
}

@font-face {
    font-family: FenwickWoodtype;
    src: url(FenwickWoodtype.ttf);
}

.fontStyle {
    font-weight: bolder;
    font-size: 1.25em;
}

p { 
    color: lightgray;
}

a {
    color: gray;
}